<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>my piece</title>
    <link rel="stylesheet" type="text/css" href="../css/pm.css">
  </head>

  <body>

    <p class="top">Projection Mapping</p>

    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AcUIZv7Qwgc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CFX2LLEpv3E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="footer">
      <div class="footer-left">
        <a href = "../index.html">Yurika's Portfolio</a>
      </div>
      <div class="like-box">
        <a href="https://twitter.com/ika__si?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ika__si</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </body>

</html>
