.row-eq-height {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
}
.context {
	border: none;
  height: 100%;
  padding: 20px;
}
.kiji {
  padding: 20px;
  border-radius: 20px;
  /* background-color: #e6e6fa; */
  /* background-color: #e0ffff; */
  /* background-color: #f0f8ff; */
  background-color: #f0ffff;
}
