{% extends 'account/base.html' %}
{% load static %}

{% block head %}
<title>Contact</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock head %}

{% block body %}
<div class="main">
      <div class="contact-form">
        <div class="form-title">お問い合わせ</div>
        <form method="post" action="https://formspree.io/f/xyybbjrp">
          <div class="form-item">名前</div>
          <input type="text" name="name" id="inputName" required>
          <div class="form-item">メールアドレス</div>
          <input type="text" name="email" id="inputEmail" required>
          <div class="form-item">内容</div>
          <textarea name="contact" id="inputContent" rows="10" class="form-control" required></textarea>
          <input type="submit" class="btn btn-default" value="送信">
        </form>
      </div>
    </div>
{% endblock body %}
